@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

.wrapper {
  border: 1pt solid rgb(199, 128, 36);
  padding: 5pt;
  margin: 5pt;
  height: 28pt;
}

button {
  float: right;
  margin-left: 5pt;
}